body {
    font-family: 'Audiowide', cursive;
    background-image: url(../images/bball-bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #F26419;
}
.jumbotron {
    margin-top: 10rem;
    background-color: #F26419;
}
h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}
#start-audio {
    display: none;
}
.mastfoot {
    text-align: center!important;
    padding: 20px;
}
#submit {
   float: right;
   border-radius: 50px;
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   position: relative;
   overflow: hidden;
   background: #F26419;
   -webkit-transition-property: color;
   transition-property: color;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   border-color: darkred;
   border-width: 5px;
}
#submit::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e1e1e1;
    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#submit:hover, #submit:focus, #submit:active {
    color: white;
}
#submit:hover:before, #submit:focus:before, #submit:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}
.questions, #final-results {
    padding: 50px;
    font-size: 16px;
    background-color: gray;
    opacity: .85;
    border-radius: 30px;
}
h3 {
    color: darkred;
    font-size: 40px;
}
.timer {
    font-size: 45px;
}
input[type=radio]::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    transform: rotate(40deg);
}
input[type=radio]:checked {
    color: #F26419;
    content: '\02143';
}
